@import "./tokens.css";
@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  background-color: hsl(var(--color-bg));
  color: hsl(var(--color-text));
  font-family: var(--font-sans);
}
