@import "./tokens.css";
@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  background-color: hsl(var(--color-bg));
  color: hsl(var(--color-text));
  font-family: var(--font-sans);
  overflow-x: hidden;
}



/*TODO Choose colors for scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--color-gradient-end)) transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--color-gradient-end));
  border-radius: 999px;
} */
